.div-background {
    background-image: url('https://mapio.net/images-p/17186218.jpg')
    background-position: botton;
    background-repeat: no-repeat;
    background-size:cover;
    color: #fff;
    }